body {
  background-image: url(clouds.jpg);
  background-size: cover;
}
button {
  margin-top: 15px;
}
ul {
  list-style: none;
}
.top {
  background-color: hsl(208, 100%, 97%, 0.5);
  border-radius: 10px;
  margin: 80px auto;
  padding: 20px;
  max-width: 900px;
}
.top-left {
  margin: auto;
  padding-left: 35px;
}
.top-middle {
  text-align: center;
  margin: auto;
  font-size: 30px;
}
.top-right {
  text-align: center;
  margin: auto;
}

.middle {
  background-color: hsl(208, 100%, 97%, 0.5);
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.description {
  margin-top: 0px;
  font-size: 25px;
  text-transform: capitalize;
}
.temp {
  font-size: 40px;
}
.unit {
  position: relative;
  top: -10px;
}
.coded-by {
  text-align: center;
}